<%- include("./partials/header") %>

<form action="/sign_in" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      class="form-control"
      type="text"
      name="username"
      id="username"
    />
  </div>

  <input class="btn btn-primary" type="submit" value="Sign In" />
</form>

<%- include("./partials/footer") %>