<div class="flex-box flex-wrap" >
 
  <div class="row h-20"> 
  <div class="card-column"
  <% @posts.each do |post| %>
    
      <div class="card" >
        <div class="card-body">
          <h3 class="card-title text-truncate"> 
            <%= link_to post.title, post_path(post) %> 
          </h3>
          <br/>
          <p class="card-subtitle text-muted text-truncate">
            <%= post.body %>
          </p>
          </br>
          <small>
            Posted <%= time_ago_in_words(post.created_at) %> ago
          </small>
        
        </div> 
    </div>   
  <% end %>
  </div>
 
</div>